<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Foods</title>
</head>
<body>
<h1>Random Foods</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Food Name</th>
        <th>Food Description</th>
        <th>Food Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="food : ${foods}">
        <td th:text="${food.id}">1</td>
        <td th:text="${food.name}">1</td>
        <td th:text="${food.description}">Joe</td>
        <td th:text="${food.category}">Buck</td>
    </tr>
    </tbody>
</table>

</body>
</html>