<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div th:each="recipe: ${recipes}" class="card mb-4 shadow-sm" th:fragment="recipeDiv">
    <div class="card-header">
        <h4 th:text="${recipe.name}" class="my-0 font-weight-normal"></h4>
    </div>
    <img src="../static/images/recipe1.jpg" th:src="@{'/images/' + ${recipe.imageUrl}}" class="card-img-top">
    <div class="card-body">
        <h3 th:text="${recipe.description}" class="card-title pricing-card-title"></h3>
        <p th:each="recipeType: ${recipe.recipeTypes}" class="card-text" th:text="${recipeType.type}"></p>
        <p th:text="${'Added by: ' + recipe.user.firstName}"></p>
        <p></p>
        <ul class="list-unstyled mt-3 mb-4">
            <li>Kcal: 359</li>
            <li>Protein: 34</li>
            <li>Carbs: 67</li>
            <li>Fat: 11</li>
        </ul>
        <a href="recipes/recipes.html" class="btn btn-sm btn-block btn-outline-primary"
           th:href="@{'/recipes/' + ${recipe.id}}">Check recipe</a>
    </div>
    <div class="card-footer">
        Fitnes score : 88
    </div>
</div>
</body>
</html>