<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eat Well Home</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    <!--th:href="@{../static/resources/bootstrap-4.3.1-dist/css/bootstrap.min.css}-->
    <link
            rel="stylesheet"
            href="../static/css/custom.css"
            th:href="@{/css/custom.css}">


</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" th:replace="fragments/menu :: menu">
    <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../static/images/recipe1.jpg" th:src="@{../images/recipe1.jpg}" class="card-img-top">
            </div>
            <div class="col-md-6">
                <div>
                    <h2>Recipe 1</h2>
                    <p>A scelerisque libero viverra eu condimentum mollis suscipit mi consectetur semper dis ipsum nisi
                        in nullam aliquet iaculis in eros euismod bibendum. Adipiscing volutpat fringilla bibendum duis a
                        maecenas eu lorem accumsan fames sem faucibus ad mauris aliquam nam.</p>
                    <h4>Nutrition</h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Kcal: 359</li>
                        <li>Protein: 34</li>
                        <li>Carbs: 67</li>
                        <li>Fat: 11</li>
                    </ul>
                    <h4>Ingredients list</h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Ingredient 1</li>
                        <li>Ingredient 2</li>
                        <li>Ingredient 3</li>
                        <li>Ingredient 4</li>
                        <li>Ingredient 5</li>
                    </ul>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>