<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<h1>Random Recipes</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Recipe Name</th>
        <th>RecipeDescription</th>
        <th>Recipe Difficulty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">1</td>
        <td th:text="${recipe.name}">1</td>
        <td th:text="${recipe.description}">Joe</td>
        <td th:text="${recipe.difficulty}">Buck</td>
    </tr>
    </tbody>
</table>

</body>
</html>